/*footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}*/

/*#contentWeb {
	height: 100vh;
}*/

.carousel-item{
	height: 400px;
}

#carouselExampleInterval{
	margin-top: 1px;
	border-top: 1px solid white;
}